<!doctype html>
<html class="no-js" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!--360 browser -->
    <meta name="renderer" content="webkit">
    <meta name="author" content="wos">
    <!-- Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/images/i/app.png">
    <!--Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="apple-touch-icon-precomposed" href="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/images/i/app.png">
    <!--Win8 or 10 -->
    <meta name="msapplication-TileImage" content="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/images/i/app.png">
    <meta name="msapplication-TileColor" content="#e1652f">

    <link rel="icon" type="image/png" href="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/images/i/favicon1.png">
    <link rel="stylesheet" href="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/css/public.css">

    <link rel="stylesheet" type="text/css" href="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/template/css/component.css" />
    <link rel="stylesheet" type="text/css" href="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/template/css/content.css" />

    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/assets/js/jquery.min.js"></script>
    <!--<![endif]-->
    <!--[if lte IE 8 ]>
    <script src="//libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/assets/js/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->
    <script src="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/assets/js/amazeui.min.js"></script>
    <script src="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/js/public.js"></script>
    <script src="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/template/js/modernizr.custom.js"></script>

    <style>
        .morph-button-fixed, .morph-button-fixed .morph-content{
            width:auto;
            height:35px;
        }
        .morph-button-modal-2.open .morph-content {
            margin: 100px 0 0 -170px;
            width: 400px;
            height: 520px;
        }

        .morph-button-modal-3.open .morph-content {
            margin: 100px 0 0 -170px;
            width: 400px;
            height: 520px;
        }

        .am-btn am-btn-danger am-topbar-btn am-btn-sm{
            margin-top:-10px;
        }

        .morph-button > button{

            line-height:0px;
        }
    </style>
</head>

<body>

    <header class="am-topbar am-topbar-fixed-top wos-header">
        <div class="am-container">
            <h1 class="am-topbar-brand">
                <a href="#"><img src="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/images/logo1.png" style="width:100px;height:40px" alt=""></a>
            </h1>

            <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-warning am-show-sm-only" data-am-collapse="{target: '#collapse-head'}">
                <span class="am-sr-only">导航切换</span>
                <span class="am-icon-bars"></span>
            </button>

            <div class="am-collapse am-topbar-collapse" id="collapse-head">
                <ul class="am-nav am-nav-pills am-topbar-nav">
                    <li th:each="it,itStat:${indexTitle}" th:class="${itStat.index==0}? 'am-active' : ''" class="am-active"><a href="#" th:text="${it.title}">示例标题</a></li>
                </ul>
                <div sec:authorize="hasRole('GT_USER')">
                    This content is only shown to authenticated users.
                </div>
                Logged user: <span sec:authentication="name">Bob</span> |
                <div class="am-topbar-right">
                    <button class="am-btn am-btn-default am-topbar-btn am-btn-sm"><a href="sign-up.html"><span class="am-icon-pencil"></span> 注册</a></button>
                </div>


                <div class="am-topbar-right">
                    <button class="am-btn am-btn-danger am-topbar-btn am-btn-sm"><a href="login.html"><span class="am-icon-user"></span> 登录</a></button>
                </div>
                <h5 th:text="${application.numSessions}">100</h5>
                <form th:action="@{/logout}" method="post" style="display:inline"><input type="submit" value="注销"/></form>
                <!--<section>-->
                    <!--<div class="mockup-content" style="float:right">-->
                            <!--<div class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">-->
                            <!--<button type="button" class="am-btn am-btn-danger am-topbar-btn am-btn-sm"><span class="am-icon-user"></span> 登录</button>-->
                            <!--<div class="morph-content">-->
                                <!--<div>-->
                                    <!--<div class="content-style-form content-style-form-1">-->
                                        <!--<span class="icon icon-close">Close the dialog</span>-->
                                        <!--<h2>登陆</h2>-->
                                        <!--<form>-->
                                            <!--<p><label>账 号</label><input type="text" id="user-name" placeholder="请输入账号"/></p>-->
                                            <!--<p><label>密 码</label><input type="password" id="user-password" placeholder="请输入密码"/><input type="hidden" id="_csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/></p>-->
                                            <!--<p><button type="button" id="loginBtn">登 陆</button></p>-->
                                        <!--</form>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="morph-button morph-button-modal morph-button-modal-3 morph-button-fixed">-->
                            <!--<button type="button" class="am-btn am-btn-default am-topbar-btn am-btn-sm"><span class="am-icon-pencil"></span> 注册</button>-->
                            <!--<div class="morph-content">-->
                                <!--<div>-->
                                    <!--<div class="content-style-form content-style-form-2">-->
                                        <!--<span class="icon icon-close">Close the dialog</span>-->
                                        <!--<h2>Sign Up</h2>-->
                                        <!--<form>-->
                                            <!--<p><label>Email</label><input type="text" /></p>-->
                                            <!--<p><label>Password</label><input type="password" /></p>-->
                                            <!--<p><label>Repeat Password</label><input type="password" /></p>-->
                                            <!--<p><button>Sign Up</button></p>-->
                                        <!--</form>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</section>-->
                </div>
            </div>
        </div>
    </header>
    <!--banner-->
    <div class="banner">
        <div class="am-g am-container">
            <!--轮播图-->
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-8">
                <div data-am-widget="slider" class="am-slider am-slider-c1" data-am-slider='{"directionNav":false}'>
                    <ul class="am-slides">
                        <li th:each="i:${bannerImages}">
                            <a th:href="${i.linkaddress}"><img th:src="${i.url}"></a>
                            <div class="am-slider-desc" th:text="${i.title}">某天 也许会相遇 相遇在这个好地方</div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="am-u-sm-0 am-u-md-0 am-u-lg-4 padding-none">
                <div class="star am-container"><span><img src="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/images/star.png">荣誉榜</span></div>
                <ul class="padding-none am-gallery am-avg-sm-2 am-avg-md-4 am-avg-lg-2 am-gallery-overlay" data-am-gallery="{ pureview: true }">
                    <li  th:each="v:${videos}">
                        <div class="am-gallery-item">
                            <a th:href="@{'play/'+${v.id}}">
                                <img th:src="@{'//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/images/'+${v.logo}}" alt="远方 有一个地方 那里种有我们的梦想" />
                                <h3 class="am-gallery-title" th:text="${v.title}">远方 有一个地方 那里种有我们的梦想</h3>
                                <div class="am-gallery-desc" th:text="${v.addTime}">2375-09-26</div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--banner2-->
    <div class="am-container">
        <ul class="padding-none banner2 am-gallery am-avg-sm-2 am-avg-md-4 am-avg-lg-4 am-gallery-overlay" data-am-gallery="{ pureview: true }">
            <li>
                <div class="am-gallery-item">
                    <a href="news.html">
                        <img src="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/Temp-images/tempnews.png" alt="远方 有一个地方 那里种有我们的梦想" />
                        <h3 class="am-gallery-title">远方 有一个地方 那里种有我们的梦想</h3>
                        <div class="am-gallery-desc">2375-09-26</div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <!--news-->
    <div class="am-g am-container newatype">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-8 oh">
            <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" style="border-bottom: 0px; margin-bottom: -10px">
                <h2 class="am-titlebar-title ">
                    热门资讯
                </h2>
                <nav class="am-titlebar-nav">
                    <a href="#more">more &raquo;</a>
                </nav>
            </div>

            <div data-am-widget="list_news" class="am-list-news am-list-news-default news">
                <div class="am-list-news-bd">
                    <ul class="am-list">
                        <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" data-am-scrollspy="{animation:'fade'}">
                            <div class="am-u-sm-5 am-list-thumb">
                                <a href="http://www.douban.com/online/11624755/">
                                    <img src="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/Temp-images/b2.jpg" alt="我最喜欢的一张画" />
                                </a>

                            </div>

                            <div class=" am-u-sm-7 am-list-main">
                                <h3 class="am-list-item-hd"><a href="http://www.douban.com/online/11624755/">我最喜欢的一张画</a></h3>
                                <div class="am-list-item-text">你最喜欢的艺术作品，告诉大家它们的------名图画，色彩，交织，撞色，线条雕塑装置当代古代现代作品的照片美我最喜欢的画群296795413进群发画，少说多发图，</div>
                            </div>

                        </li>
                        <div class="newsico am-fr">
                            <i class="am-icon-clock-o">2016/11/11</i>
                            <i class="am-icon-hand-pointer-o">12322</i>
                        </div>
                    </ul>
                </div>
                <a href="#"><img src="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/Temp-images/ad2.png" class="am-img-responsive" width="100%" /></a>

                <div class="am-hide-sm">
                    <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default">
                        <h2 class="am-titlebar-title ">
                            热门资讯
                        </h2>
                        <nav class="am-titlebar-nav">
                            <a href="#more" onclick="$('.case').hide();$('#youxi').show();">游戏案例</a>
                            <a href="#more" onclick="$('.case').hide();$('#yingxiao').show();">营销案例</a>
                            <a href="#more" onclick="$('.case').hide();$('#gongju').show();">工具案例</a>
                        </nav>
                    </div>


                    <div id="youxi" class="case am-animation-slide-left">
                        <ul class="am-gallery am-avg-sm-2 am-avg-md-4 am-avg-lg-4 am-gallery-overlay" data-am-gallery="{ pureview: true }">
                            <li th:each="v:${videos}">
                                <div class="am-gallery-item">
                                    <a th:href="@{'play/'+${v.id}}">
                                        <img th:src="@{'//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/images/'+${v.logo}}" alt="远方 有一个地方 那里种有我们的梦想" />
                                        <h3 class="am-gallery-title" th:text="${v.title}">远方 有一个地方 那里种有我们的梦想</h3>
                                        <div class="am-gallery-desc" th:text="${v.addTime}">2375-09-26</div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div id="yingxiao" class="case am-animation-slide-right dn">
                        <ul class="am-gallery am-avg-sm-2 am-avg-md-4 am-avg-lg-4 am-gallery-overlay" data-am-gallery="{ pureview: true }">
                            <li>
                                <div class="am-gallery-item">
                                    <a href="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/Temp-images/dd.jpg">
                                        <img src="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/Temp-images/cc.jpg" data-replace-img="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/Temp-images/dd.jpg" alt="远方 有一个地方 那里种有我们的梦想" />
                                        <h3 class="am-gallery-title">远方 有一个地方 那里种有我们的梦想</h3>
                                        <div class="am-gallery-desc">2375-09-26</div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>


                    <div id="gongju" class="dn case am-animation-slide-right">
                        <ul class="am-gallery am-avg-sm-2 am-avg-md-4 am-avg-lg-4 am-gallery-overlay" data-am-gallery="{ pureview: true }">
                            <li>
                                <div class="am-gallery-item">
                                    <a href="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/Temp-images/dd.jpg">
                                        <img src="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/Temp-images/cc.jpg" data-replace-img="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/Temp-images/dd.jpg" alt="远方 有一个地方 那里种有我们的梦想" />
                                        <h3 class="am-gallery-title">远方 有一个地方 那里种有我们的梦想</h3>
                                        <div class="am-gallery-desc">2375-09-26</div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">
            <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default">
                <h2 class="am-titlebar-title ">
                    个人专栏
                </h2>
                <nav class="am-titlebar-nav">
                    <a href="#more">more &raquo;</a>
                </nav>
            </div>
            <div data-am-widget="list_news" class="am-list-news am-list-news-default right-bg" data-am-scrollspy="{animation:'fade'}">
                <ul class="am-list">
                    <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                        <div class="am-u-sm-4 am-list-thumb">
                            <a href="http://www.douban.com/online/11624755/">
                                <img src="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/Temp-images/face.jpg" class="face" />
                            </a>
                        </div>

                        <div class=" am-u-sm-8 am-list-main">
                            <h3 class="am-list-item-hd"><a href="http://www.douban.com/online/11624755/">勾三古寺</a></h3>

                            <div class="am-list-item-text">代码压缩和最小化。在这里，我们为你收集了9个最好的JavaScript压缩工具将帮</div>
                        </div>
                    </li>
                    <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
                </ul>
            </div>

            <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default">
                <h2 class="am-titlebar-title ">
                    合作专栏
                </h2>
                <nav class="am-titlebar-nav">
                    <a href="#more">more &raquo;</a>
                </nav>
            </div>

            <div data-am-widget="list_news" class="am-list-news am-list-news-default right-bg" data-am-scrollspy="{animation:'fade'}">
                <ul class="am-list">
                    <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                        <div class="am-u-sm-4 am-list-thumb">
                            <a href="http://www.douban.com/online/11624755/">
                                <img src="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/Temp-images/face.jpg" class="face" />
                            </a>
                        </div>

                        <div class=" am-u-sm-8 am-list-main">
                            <h3 class="am-list-item-hd"><a href="http://www.douban.com/online/11624755/">勾三古寺</a></h3>

                            <div class="am-list-item-text">代码压缩和最小化。在这里，我们为你收集了9个最好的JavaScript压缩工具将帮</div>
                        </div>
                    </li>
                    <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
                </ul>
            </div>
            <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default">
                <h2 class="am-titlebar-title ">
                    评测
                </h2>
                <nav class="am-titlebar-nav">
                    <a href="#more">more &raquo;</a>
                </nav>
            </div>

            <div data-am-widget="list_news" class="am-list-news am-list-news-default right-bg" data-am-scrollspy="{animation:'fade'}">
                <ul class="am-list">
                    <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                        <div class="am-u-sm-4 am-list-thumb">
                            <a href="http://www.douban.com/online/11624755/">
                                <img src="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/Temp-images/face.jpg" />
                            </a>
                        </div>

                        <div class=" am-u-sm-8 am-list-main">
                            <h3 class="am-list-item-hd"><a href="http://www.douban.com/online/11624755/">勾三古寺</a></h3>

                            <div class="am-list-item-text">代码压缩和最小化。在这里，我们为你收集了9个最好的JavaScript压缩工具将帮</div>
                        </div>
                    </li>
                    <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
                </ul>
            </div>

            <ul class="am-gallery am-avg-sm-1
  am-avg-md-1 am-avg-lg-1 am-gallery-default" data-am-gallery="{ pureview: true }">
                <li>
                    <div class="am-gallery-item">
                        <a href="http://s.amazeui.org/media/i/demos/bing-1.jpg" class="">
                            <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg" alt="远方 有一个地方 那里种有我们的梦想" />
                            <h3 class="am-gallery-title">远方 有一个地方 那里种有我们的梦想</h3>
                            <div class="am-gallery-desc">
                                <div class="am-fr">北京</div>
                                <div class="am-fl">2016/11/11</div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>

        </div>
    </div>

    <div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
        <a href="#top" title="回到顶部">
            <span class="am-gotop-title">回到顶部</span>
            <i class="am-gotop-icon am-icon-chevron-up"></i>
        </a>
    </div>

    <footer>
        <div class="content">
            <ul class="am-avg-sm-5 am-avg-md-5 am-avg-lg-5 am-thumbnails">
                <li><a href="#">联系我们</a></li>
                <li><a href="#">加入我们</a></li>
                <li><a href="#">合作伙伴</a></li>
                <li><a href="#">广告及服务</a></li>
                <li><a href="#">友情链接</a></li>
            </ul>
            <div class="btnlogo"><img src="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/images/btnlogo.png" /></div>
            <p>Amaze UI出品<br>© 2016 AllMobilize, Inc. Licensed under MIT license. Developed with WebStorm.</p>
            <div class="w2div">
                <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2
  am-avg-md-2 am-avg-lg-2 am-gallery-overlay" data-am-gallery="{ pureview: true }">
                    <li class="w2">
                        <div class="am-gallery-item">
                            <a href="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/Temp-images/dd.jpg">
                                <img src="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/Temp-images/dd.jpg" />
                                <h3 class="am-gallery-title">订阅号：Amaze UI</h3>
                            </a>
                        </div>
                    </li>
                    <li class="w2">
                        <div class="am-gallery-item">
                            <a href="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/Temp-images/dd.jpg">
                                <img src="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/Temp-images/dd.jpg" />
                                <h3 class="am-gallery-title">服务号：Amaze UI</h3>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/template/js/classie.js"></script>
    <script src="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/template/js/uiMorphingButton_fixed.js"></script>
    <script>
        (function() {
            var docElem = window.document.documentElement, didScroll, scrollPosition;

            // trick to prevent scrolling when opening/closing button
            function noScrollFn() {
                window.scrollTo( scrollPosition ? scrollPosition.x : 0, scrollPosition ? scrollPosition.y : 0 );
            }

            function noScroll() {
                window.removeEventListener( 'scroll', scrollHandler );
                window.addEventListener( 'scroll', noScrollFn );
            }

            function scrollFn() {
                window.addEventListener( 'scroll', scrollHandler );
            }

            function canScroll() {
                window.removeEventListener( 'scroll', noScrollFn );
                scrollFn();
            }

            function scrollHandler() {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( function() { scrollPage(); }, 60 );
                }
            };

            function scrollPage() {
                scrollPosition = { x : window.pageXOffset || docElem.scrollLeft, y : window.pageYOffset || docElem.scrollTop };
                didScroll = false;
            };

            scrollFn();

            [].slice.call( document.querySelectorAll( '.morph-button' ) ).forEach( function( bttn ) {
                new UIMorphingButton( bttn, {
                    closeEl : '.icon-close',
                    onBeforeOpen : function() {
                        // don't allow to scroll
                        noScroll();
                    },
                    onAfterOpen : function() {
                        // can scroll again
                        canScroll();
                    },
                    onBeforeClose : function() {
                        // don't allow to scroll
                        noScroll();
                    },
                    onAfterClose : function() {
                        // can scroll again
                        canScroll();
                    }
                } );
            } );

            // for demo purposes only
            [].slice.call( document.querySelectorAll( 'form button' ) ).forEach( function( bttn ) {
                bttn.addEventListener( 'click', function( ev ) { ev.preventDefault(); } );
            } );
        })();


        //登陆按钮方法
        $('#loginBtn').click(function(){
            var errorMessage = "";
            var username = $('#user-name').val();         //获取用户名
            var password = $('#user-password').val();     //获取用户密码
            var token = $("#_csrf").val();                //获取csrf隐藏域
            var ret = /^[a-zA-Z][a-zA-Z0-9_]{5,20}$/;     //声明各种正则
            if(username==""){
                errorMessage += "用户名不能为空";
            }else if(password==""){
                errorMessage += "密码不能为空";
            }
//            else if(ret.test(username)==false){
//                errorMessage += "用户名不合法";
//            }
            if(errorMessage != ""){
                alert(errorMessage);        //验证不通过时
            }else{
                login(username,password,token,0)    //登陆
            }
        });

        //登陆方法，type为区分当前是否有用户登陆
        function login(username,password,token,type){
            $.ajax({                    //验证通过则发请求
                url: '/login.html',
                type: 'POST',
                data:{"username":username,"password":password,"type":type},
                dataType:"json",
                beforeSend: function(xhr){
                    xhr.setRequestHeader("X-CSRF-TOKEN", token);
                },
                success: function(data) {
                    if(data.success=="-1"){
                        if(confirm("当前已登陆用户【"+ data.cur_username +"】，是否注销【"+ data.cur_username +"】账号后进行登陆？")){
                            login(username,password,token,1);
                        }
                    }else if(data.success){
                        alert("登陆成功！！！");
                        location.href="/";          //登陆成功后跳到首页
                    }else {
                        alert("登陆失败！！！");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status + ": " + thrownError);
                }
            });
        }
    </script>
</body>

</html>
