<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" 	ng-app="myLoginModule">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
	<meta name="renderer" content="webkit">
	<title>登录 - T308 - 学习平台</title>
	<meta name="keywords" content="登陆">
	<meta name="description" content="登陆">
	<link rel="stylesheet" type="text/css" href="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/auilogin/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/auilogin/icon.css">
	<link href="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/auilogin/common.css" rel="stylesheet" type="text/css">
	<link href="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/auilogin/login.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
	<div class="aw-login-box">
		<div class="mod-body clearfix">
			<div class="content pull-left">
				<h1 class="logo"><a href="http://www.auicss.com/club/?/"></a></h1>
				<h2>T308 - 学习平台</h2>
				<form id="login_form" name="login_form" ng-controller="loginCtrl" method="post" action="/login" novalidate>
					<ul>
						<li>
							<input type="text" class="form-control" placeholder="邮箱 / 用户名" id="user_name" name="user_name" ng-model="user_name" required><span style="color:red" ng-show="login_form.user_name.$dirty && login_form.user_name.$invalid"><span ng-show="login_form.user_name.$error.required">用户名是必须的。</span></span>
						</li>
						<li>
							<input type="hidden" id="_csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
							<input type="password" class="form-control" placeholder="密码" id="user_password" name="user_password" ng-model="user_password" required><span style="color:red" ng-show="login_form.user_password.$dirty && login_form.user_password.$invalid"><span ng-show="login_form.user_password.$error.required">密码是必须的。</span></span>
						</li>
						<li th:if="${loginError}" class="alert alert-danger collapse error_message" style="display: list-item; position: relative; left: 0px;">
							<i class="icon icon-delete"></i> <em>请输入正确的帐号或密码</em>
						</li>
						<li class="last">
							<a href="javascript:;" ng-disabled="login_form.user_name.$invalid || login_form.user_password.$invalid" ng-click="login()" id="login_submit" class="pull-right btn btn-large btn-primary">登录</a>
							<label>
								<input type="checkbox" value="1" name="net_auto_login">记住我</label>
							<a href="/find_password.html">&nbsp;&nbsp;忘记密码</a>
						</li>
					</ul>
				</form>
			</div>
			<div class="side-bar pull-left">
			</div>
		</div>
		<div class="mod-footer">
			<span>还没有账号?</span>&nbsp;&nbsp;
			<a href="sign-up.html">立即注册</a>&nbsp;&nbsp;•&nbsp;&nbsp;
			<a href="">游客访问</a>&nbsp;&nbsp;•&nbsp;&nbsp;
			<a href="">问答阅读</a>
		</div>
	</div>
</div>

<div class="aw-footer-wrap">
	<div class="aw-footer">
		Copyright © 2017, All Rights Reserved
		<span class="hidden-xs">Powered By <a href="" target="blank">WeCenter 3.1.8</a></span>
	</div>
</div>
</body>

<!--添加 angular.js-->
<script src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/jquery.min.js"></script>
<script src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/angular.min.js"></script>

<script th:inline="javascript">

    angular.module('myLoginModule', [])
		// .config(function($httpProvider) {
		// 	var header = [[${_csrf.headerName}]];
        // 	$httpProvider.defaults.headers.post[header] = [[${_csrf.token}]];	//获取csrf隐藏域并放到header中
		// })
		.controller('loginCtrl', function($scope,$http) {
			$scope.login = function(){
				$("#login_form").submit();
			}
        // $scope.login = function(){
		// 	$http({
		// 		method:"post",
		// 		url:"/login",
		// 		params:{
		// 		    "username":$scope.user_name,		//获取用户密码
		// 			"password":$scope.user_password
		// 		}
		// 	})
		// 	.success(function (data) {
		// 	    alert(data);
		// 		if(data.success){
		// 			location.href="https://gongtao.top";
		// 		}else{
		// 		    alert("用户名或密码输入错误，请重新输入！");
		// 		}
        //     });
		// };
    });



</script>
</html>