<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" ng-app="myRegisterModule">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="renderer" content="webkit">
    <title>注册 - T308 - 学习平台</title>
    <meta name="keywords" content="注册">
    <meta name="description" content="注册">

    <link rel="stylesheet" type="text/css" href="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/auilogin/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/auilogin/icon.css">
    <link href="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/auilogin/common.css" rel="stylesheet" type="text/css">
    <link href="//gongtao-top.oss-cn-shanghai.aliyuncs.com/gt/auilogin/register.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="aw-register-box">
    <div class="mod-head">
        <a href="http://www.auicss.com/club/?/"></a>
        <h1>注册新用户</h1>
    </div>
    <div class="mod-body">
        <form id="register_form" method="post" action="sign-up.html" ng-controller="registerCtrl" novalidate>
            <ul>
                <li class="alert alert-danger collapse error_message text-left">
                    <i class="icon icon-delete"></i> <em></em>
                </li>
                <li>
                    <input type="text" class="form-control" placeholder="用户名" id="user_email" name="user_email" ng-model="user_email" required><span style="color:red" ng-show="register_form.user_email.$dirty && register_form.user_email.$invalid"><span ng-show="register_form.user_email.$error.required">用户名是必须的。</span></span>
                </li>
                <li>
                    <input type="text" class="form-control" placeholder="邮箱" id="user_name" name="user_name" ng-model="user_name" required><span style="color:red" ng-show="register_form.user_name.$dirty && register_form.user_name.$invalid"><span ng-show="register_form.user_name.$error.required">用户名是必须的。</span></span>
                </li>
                <li>
                    <input type="hidden" id="_csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="password" class="form-control" placeholder="密码" id="user_password" name="user_password" ng-model="user_password" required><span style="color:red" ng-show="register_form.user_password.$dirty && register_form.user_password.$invalid"><span ng-show="register_form.user_password.$error.required">密码是必须的。</span></span>
                </li>
                <li class="clearfix">
                    <button class="btn btn-large btn-blue btn-block">注册</button>
                </li>
            </ul>
        </form>
    </div>
    <div class="mod-footer"></div>
</div>
<script src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/jquery.min.js"></script>
<script src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/angular.min.js"></script>
<script th:inline="javascript">

    angular.module('myRegisterModule', [])
        .controller('registerCtrl', function($scope,$http) {
        });

</script>

<div class="aw-footer-wrap">
	<div class="aw-footer">
		Copyright © 2017, All Rights Reserved

		<span class="hidden-xs">Powered By <a href="http://www.wecenter.com/?copyright" target="blank">WeCenter 3.1.8</a></span>

			</div>
</div>

</body></html>