<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<style>
    body {
        font-family: sans;
        font-size: 1em;
    }

    p.error {
        font-weight: bold;
        color: red;
    }

    div.logout {
        float: right;
    }
</style>
<head>
    <title>Error page</title>
    <meta charset="utf-8" />
</head>
    <body>
    <h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
    <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
    <a href="index.html" th:href="@{/index.html}">Back to Home Page</a>
</body>
</html>