<!--
    JSP 在内嵌的 Servlet 容器上运行会有一些问题  内嵌的 Tomcat jetty 不支持以 jar 形式运行 JSP,Undertow 不支持 JSP
    SpringBoot 提供了大量的模板引擎 包含有：FreeMaker， Groovy，Thymeleaf，Velocity 和 Mustache ,
    SpringBoot 推荐使用 Thymeleaf 作为模板引擎，因为 Thymeleaf 提供了完美的 Spring MVC 的支持
    Thymeleaf 是一个 Java 类库，他是一个 xml/xhtml/html5 的模板引擎，可以作为 MVC 的 Web 应用的 View 层
    Thymeleaf 还提供了额外的模块与 Spring MVC 集成，所以我们可以使用 Thymeleaf 完全替代 JSP
    1. 通过 xmlns="http://www.thymeleaf.org" 命名空间，将镜头页面转换为动态的视图，需要进行动态处理的元素将使用 "th:" 作为前缀
    2. 通过 @{} 引用 Web 静态资源，这在 JSP 中是极易出错的
-->

<!--
    Spring Boot 通过 org.springframework.boot.autocofigure.thymeleaf 包对 Thymeleaf 进行了自动配置
    根据默认原则，脚本样式、图片等静态资源应该放在 src/main/resources/static 下
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" ng-app="myIndexModule">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理系统</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">`
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/x-icon" href="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/i/favicon1.png">
    <link rel="apple-touch-icon-precomposed" href="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" th:href="@{/amazeui.min.css}" />
    <link rel="stylesheet" href="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Css/app.css"/>
    <!--
        CDN的全称是Content Delivery Network，即内容分发网络。其目的是通过在现有的Internet中增加一层新的网络架构，将网站的内容发布到最接近用户的网络"边缘"，使用户可以就近取得所需的内容，解决 Internet网络拥挤的状况，提高用户访问网站的响应速度。
        这里从阿里云CDN中引用相应的Javascript库，为了防止出现CDN内容加载失败的情况  判断如果从 CDN 中加载失败 使用了“||”运算符判断window.jQuery是否为未定义类型，如果window.jQuery未定义执行后面的代码加载本地jQuery脚本
    -->
    <script src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/jquery.min.js">\x3C/script>')</script>

    <script src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/echarts.min.js"></script>
</head>

<body data-type="index">
    <script src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/theme.js"></script>
    <div class="am-g tpl-g">
    <div th:replace="header :: part1"></div>
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">

            <div class="container-fluid am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 部件首页 <small>Amaze UI</small></div>
                        <p class="page-header-description">Amaze UI 含近 20 个 CSS 组件、20 余 JS 组件，更有多个包含不同主题的 Web 组件。</p>
                    </div>
                    <div class="am-u-lg-3 tpl-index-settings-button">
                        <button type="button" class="page-header-button"><span class="am-icon-paint-brush"></span> 设置</button>
                    </div>
                </div>
            </div>
            <div class="row-content am-cf">
                <div class="row  am-cf">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">月度财务收支计划</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div>
                            </div>
                            <div class="widget-body am-fr">
                                <div class="am-fl">
                                    <div class="widget-fluctuation-period-text">
                                        ￥61746.45
                                        <button class="widget-fluctuation-tpl-btn">
                        <i class="am-icon-calendar"></i>
                        更多月份
                      </button>
                                    </div>
                                </div>
                                <div class="am-fr am-cf">
                                    <div class="widget-fluctuation-description-amount text-success" am-cf>
                                        +￥30420.56

                                    </div>
                                    <div class="widget-fluctuation-description-text am-text-right">
                                        8月份收入
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                        <div class="widget widget-primary am-cf">
                            <div class="widget-statistic-header">
                                本季度利润
                            </div>
                            <div class="widget-statistic-body">
                                <div class="widget-statistic-value">
                                    ￥27,294
                                </div>
                                <div class="widget-statistic-description">
                                    本季度比去年多收入 <strong>2593元</strong> 人民币
                                </div>
                                <span class="widget-statistic-icon am-icon-credit-card-alt"></span>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                        <div class="widget widget-purple am-cf">
                            <div class="widget-statistic-header">
                                本季度利润
                            </div>
                            <div class="widget-statistic-body">
                                <div class="widget-statistic-value">
                                    ￥27,294
                                </div>
                                <div class="widget-statistic-description">
                                    本季度比去年多收入 <strong>2593元</strong> 人民币
                                </div>
                                <span class="widget-statistic-icon am-icon-support"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row am-cf">
                    <div class="am-u-sm-12 am-u-md-8">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">月度财务收支计划</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div>
                            </div>
                            <div class="widget-body-md widget-body tpl-amendment-echarts am-fr" id="tpl-echarts">

                            </div>
                        </div>
                    </div>

                    <div class="am-u-sm-12 am-u-md-4">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">专用服务器负载</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div>
                            </div>
                            <div class="widget-body widget-body-md am-fr">

                                <div class="am-progress-title">CPU Load <span class="am-fr am-progress-title-more">28% / 100%</span></div>
                                <div class="am-progress">
                                    <div class="am-progress-bar" style="width: 15%"></div>
                                </div>
                                <div class="am-progress-title">CPU Load <span class="am-fr am-progress-title-more">28% / 100%</span></div>
                                <div class="am-progress">
                                    <div class="am-progress-bar  am-progress-bar-warning" style="width: 75%"></div>
                                </div>
                                <div class="am-progress-title">CPU Load <span class="am-fr am-progress-title-more">28% / 100%</span></div>
                                <div class="am-progress">
                                    <div class="am-progress-bar am-progress-bar-danger" style="width: 35%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row am-cf">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-4 widget-margin-bottom-lg ">
                        <div class="tpl-user-card am-text-center widget-body-lg">
                            <div class="tpl-user-card-title">
                                禁言小张
                            </div>
                            <div class="achievement-subheading">
                                月度最佳员工
                            </div>
                            <!--<img class="achievement-image" src="assets/img/user07.png" alt="">-->
                            <div class="achievement-description">
                                禁言小张在
                                <strong>30天内</strong> 禁言了
                                <strong>200多</strong>人。
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-8 widget-margin-bottom-lg">
                        <div class="widget am-cf widget-body-lg">
                            <div class="widget-body  am-fr">
                                <div class="am-scrollable-horizontal ">
                                    <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black " id="example-r" ng-controller="myIndexController">
                                        <thead>
                                            <tr>
                                                <th>文章标题</th>
                                                <th>作者</th>
                                                <th>时间</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>

                                        <tbody id="newsTableArea">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</div>
    <script src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/amazeui.min.js"></script>
    <script src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/amazeui.datatables.min.js"></script>
    <script src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/dataTables.responsive.min.js"></script>
    <script src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/app.js"></script>
    <script src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/angular.min.js"></script>


    <script>
        angular.module('myIndexModule',[]).controller('myIndexController',function () {
            
        });

        $(function(){
//                $("body").load("http://myfirstbucke.oss-cn-shanghai.aliyuncs.com/pages/index.html");
//            setTimeout(function(){
                if(localStorage.getItem("weather")==null || JSON.parse(localStorage.getItem('weather'))[3] != new Date().getHours()){
                    localStorage.removeItem("weather");
                    $.get("/getWether",function(result){
                        var obj = JSON.parse(result);
                        var currentHours = new Date().getHours();
                        var currentWeather = obj.showapi_res_body.hourList[currentHours];
                        var objArray =[currentWeather.weather,currentWeather.temperature,currentWeather.weather_code,currentHours];
                        localStorage.setItem("weather",JSON.stringify(objArray));
                        $("#weatherArea").html(currentWeather.weather+","+currentWeather.temperature).append('<img src="http://app1.showapi.com/weather/icon/day/'+ currentWeather.weather_code +'.png" style="width:22px;height: 22px;"/>');
                    });
                }else{
                    var objArray = JSON.parse(localStorage.getItem("weather"));
                    $("#weatherArea").html(objArray[0]+","+objArray[1]).append('<img src="http://app1.showapi.com/weather/icon/day/'+ objArray[2] +'.png" style="width:22px;height: 22px;"/>');
                }


                $.get("/getIp",function(result){
                    var obj = JSON.parse(result);
                    $("#ipArea").text("当前登录IP:"+obj.data.ip);
                });

                $.get("/getNews",{type:"top"},function(result){
                    var news = JSON.parse(result).result.data;
                    var dom = "";
                    for(var i=0;i<news.length;i++){
                        dom += '<tr class="gradeX">\
                            <td>'+ news[i].title +'</td>\
                            <td>'+ news[i].author_name +'</td>\
                            <td>'+ news[i].date +'</td>\
                            <td>\
                                <div class="tpl-table-black-operation">\
                                    <a href="'+ news[i].url +'" target="_blank">\
                                        <i class="am-icon-pencil"></i> 编辑\
                                    </a>\
                                    <a href="javascript:;" class="tpl-table-black-operation-del">\
                                        <i class="am-icon-trash"></i> 删除\
                                    </a>\
                                </div>\
                            </td>\
                        </tr>'
                    }
                    $('#newsTableArea').html(dom);
                });
//            },3000);
        });
    </script>

</body>

</html>


