<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" ng-app="myLoginModule">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎登录</title>
    <meta name="description" content="用户登陆页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/x-icon" href="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/i/favicon1.png">
    <link rel="apple-touch-icon-precomposed" href="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="欢迎登陆" />
    <link rel="stylesheet" th:href="@{/amazeui.min.css}" />
    <link rel="stylesheet" href="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Css/bootstrap.min.css" />
    <link rel="stylesheet" href="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Css/app.css"/>
    <script src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/jquery.min.js"></script>
    <scritp src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/bootstrap/bootstrap.min.js"></scritp>
    <script src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/echarts.min.js"></script>
</head>

<body data-type="login">
    <script src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/theme.js"></script>

    <div class="am-modal am-modal-no-btn" id="myBaseModal" tabindex="-1" id="doc-modal-1">
        <div style="z-index: 2011; position: fixed; padding: 0px; margin: 0px; width: 30%; top: 40%; left: 35%; text-align: center; color: rgb(0, 0, 0); border: none; background-color: transparent; cursor: wait;">
            <img id="loadingImage" style="width:80px;" src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Image/loading/loading22.gif" />
        </div>
    </div>
    <div class="am-g tpl-g">
        <!-- 风格切换 -->
        <div class="tpl-skiner">
            <div class="tpl-skiner-toggle am-icon-cog">
            </div>
            <div class="tpl-skiner-content">
                <div class="tpl-skiner-content-title">
                    选择主题
                </div>
                <div class="tpl-skiner-content-bar">
                    <span class="skiner-color skiner-white" data-color="theme-white"></span>
                    <span class="skiner-color skiner-black" data-color="theme-black"></span>
                </div>
            </div>
        </div>
        <div class="tpl-login">
            <div class="tpl-login-content">
                <div class="tpl-login-logo">
                </div>
                <form class="am-form tpl-form-line-form" ng-controller="myLoginController">
                    <div class="am-form-group">
                        <input type="text" ng-model="username" class="tpl-form-input" id="user-name" placeholder="请输入账号">
                    </div>
                    <div class="am-form-group">
                        <input type="hidden" id="_csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="password" class="tpl-form-input" id="user-password" placeholder="请输入密码">
                    </div>
                    <div class="am-form-group tpl-login-remember-me">
                        <input id="remember-me" type="checkbox">
                        <label for="remember-me">
                        记住密码
                         </label>
                    </div>
                    <div class="am-form-group">
                        <button type="button" id="loginBtn" class="am-btn am-btn-primary  am-btn-block tpl-btn-bg-color-success  tpl-login-btn">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/amazeui.min.js"></script>
    <script src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/app.js"></script>
    <!--添加 angular.js-->
    <script src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/angular.min.js"></script>
    <script>

        //全局配置，在Ajax请求开始时显示菊花页面，结束时隐藏页面。
        $(document).ajaxStart(function(){
            $("#myBaseModal").modal('open')
        }).ajaxComplete(function(){
            $('#myBaseModal').modal('close')
        });
        angular.module('myLoginModule',[]).controller('myLoginController',function($scope,$parse){
            $scope.$watch('username',function(newVal,oldVal,scope){
                if(newVal !== oldVal){
                    //用表达式设置 parseFun
                    var parseFun = $parse(newVal);
                    $scope.parsedValue = parseFun(scope);
                }
            });

        });

        //登陆按钮方法
        $('#loginBtn').click(function(){
            var errorMessage = "";
            var username = $('#user-name').val();         //获取用户名
            var password = $('#user-password').val();     //获取用户密码
            var token = $("#_csrf").val();                //获取csrf隐藏域
            var ret = /^[a-zA-Z][a-zA-Z0-9_]{5,20}$/;     //声明各种正则
            if(username==""){
                errorMessage += "用户名不能为空";
            }else if(password==""){
                errorMessage += "密码不能为空";
            }
//            else if(ret.test(username)==false){
//                errorMessage += "用户名不合法";
//            }
            if(errorMessage != ""){
                alert(errorMessage);        //验证不通过时
            }else{
                login(username,password,token,0)    //登陆
            }
        });

        //登陆方法，type为区分当前是否有用户登陆
        function login(username,password,token,type){
            $.ajax({                    //验证通过则发请求
                url: '/login.html',
                type: 'POST',
                data:{"username":username,"password":password,"type":type},
                dataType:"json",
                beforeSend: function(xhr){
                    xhr.setRequestHeader("X-CSRF-TOKEN", token);
                },
                success: function(data) {
                    if(data.success=="-1"){
                        if(confirm("当前已登陆用户【"+ data.cur_username +"】，是否注销【"+ data.cur_username +"】账号后进行登陆？")){
                            login(username,password,token,1);
                        }
                    }else if(data.success){
                        alert("登陆成功！！！");
                        location.href="/";          //登陆成功后跳到首页
                    }else {
                        alert("登陆失败！！！");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status + ": " + thrownError);
                }
            });
        }

        //如果想使用  不同于 {{}} 的符号作为标志表达式的开始和结束，可以在 $inter laterProvider 中配置
        //用 startSymbol() 方法可以修改标识开始的符号。这个方法接受一个参数。  value：开始符号的值
        //用 endSymbol() 方法可以改标识结束的符号。这个方法也接受一个参数，  value: 结束符号的值。
        angular.module('emailParser',[]).config(['$interpolateProvider',function($interpolateProvider){
            $interpolateProvider.startSymbol('!!');
            $interpolateProvider.endSymbol('!!');
        }]).factory('EmailParser',['$interpolate',function($interpolate){
            //处理解析的服务
            return{
                parse:function(text,context){
                    var template = $interpolate(text);
                    return template(context);
                }
            }
        }]);
    </script>
</body>
</html>
