<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" ng-app="mySignUpModule"
                xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎注册</title>
    <meta name="description" content="用户注册页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/x-icon" href="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/i/favicon1.png">
    <link rel="apple-touch-icon-precomposed" href="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="欢迎注册" />
    <link rel="stylesheet" th:href="@{/amazeui.min.css}" />
    <link rel="stylesheet" href="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Css/app.css"/>
    <script src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/jquery.min.js"></script>
    <script src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/echarts.min.js"></script>
</head>

<body data-type="login">
    <script src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 风格切换 -->
        <div class="tpl-skiner">
            <div class="tpl-skiner-toggle am-icon-cog">
            </div>
            <div class="tpl-skiner-content">
                <div class="tpl-skiner-content-title">
                    选择主题
                </div>
                <div class="tpl-skiner-content-bar">
                    <span class="skiner-color skiner-white" data-color="theme-white"></span>
                    <span class="skiner-color skiner-black" data-color="theme-black"></span>
                </div>
            </div>
        </div>
        <div class="tpl-login">
            <div class="tpl-login-content">
                <div class="tpl-login-title">注册用户</div>
                <span class="tpl-login-content-info">
                  创建一个新的用户
              </span>


                <form class="am-form tpl-form-line-form">
                    <div class="am-form-group">
                        <input type="text" class="tpl-form-input" id="user-email" placeholder="邮箱">
                    </div>

                    <div class="am-form-group">
                        <input type="text" class="tpl-form-input" id="user-name" placeholder="用户名">
                    </div>

                    <div class="am-form-group">
                        <input type="password" class="tpl-form-input" id="user-password" placeholder="请输入密码">
                    </div>

                    <div class="am-form-group">
                        <input type="hidden" id="_csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="password" class="tpl-form-input" id="user-passwordAgain" placeholder="再次输入密码">
                    </div>

                    <div class="am-form-group tpl-login-remember-me">
                        <input id="remember-me" type="checkbox">
                        <label for="remember-me">
                        我已阅读并同意 <a href="javascript:;">《用户注册协议》</a>
                         </label>
                    </div>

                    <!--提交按钮-->
                    <div class="am-form-group">
                        <button type="button" class="am-btn am-btn-primary  am-btn-block tpl-btn-bg-color-success  tpl-login-btn" onclick="signUp()">提交</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <script src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/amazeui.min.js"></script>
    <script src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/amazeui.datatables.min.js"></script>
    <script src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/dataTables.responsive.min.js"></script>
    <script src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/app.js"></script>
    <script src="//myfirstbucke.oss-cn-shanghai.aliyuncs.com/Scripts/angular.min.js"></script>
    <script>
        angular.module('mySignUpModule',[]).controller('mySignUpController',function () {

        });

        $(function(){

        });

        //注册表单条方法
        function signUp(){
            var errorMessage = "";
            var isAbbey = $("#remember-me").is(':checked');         //获取是否同意协议
            var email = $("#user-email").val();                     //获取用户邮箱
            var name = $("#user-name").val();                       //获取用户名
            var password = $("#user-password").val();               //获取密码
            var passwordAgain = $("#user-passwordAgain").val();     //获取重复密码
            var token = $("#_csrf").val();                          //获取csrf隐藏域
            var ret = /^[a-zA-Z][a-zA-Z0-9_]{5,20}$/;               //声明各种正则
            var emailRet = /^[\w-]+(\.[\w-]+)*@[\w-]+(\.[\w-]+)+$/;
            var phoneRet = /^[\d]{5,20}$/;
            if(!isAbbey){
                errorMessage += "请同意协议！！！";
            }else if(emailRet.test(email)==false){
                errorMessage += "邮箱不合法";
            }else if(ret.test(name)==false){
                errorMessage += "用户名不合法";
            }else if(ret.test(password)==false){
                errorMessage += "密码不合法";
            }else if(password != passwordAgain){
                errorMessage+= "两次密码输入不一致！";
            }
            if(errorMessage!=""){
                alert(errorMessage);
            }else{
                $.ajax({
                    url: '/sign-up.html',
                    type: 'POST',
                    data:{"email":email,"username":name,"password":password},
                    dataType:"json",
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("X-CSRF-TOKEN", token);
                    },
                    success: function(data) {
                        if(data.success=='0'){
                            alert("注册成功！！！");
                            location.href="/";          //注册成功后跳到首页
                        }else if(data.success=='-1'){
                            alert("注册失败！！！");
                        }else if(data.success=='-2'){
                            alert("邮箱已被注册！！！");
                        }else if(data.success=='-3'){
                            alert("用户名已被注册！！！");
                        }


                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr.status + ": " + thrownError);
                    }
                });
            }

        }
    </script>

</body>
</body>

</html>